html body{
    height: 100%;
}


.jumbotron {
    background-image: url("negro.jpg");
    background-size: cover;
    text-align:center;
    padding: 70px;
}

#porta  {
    border-radius: 20px;
    background-color: rgb(255,255,255,0.5);
    max-width: 900px;
    margin:auto;
}

#subti {
    font-size: 25px;
}

.intro {
        text-align: center;
 }

#introduccion {
    max-width: 900px;
}

.navbar {
    padding: 16px;
}
.navbar-nav li{
    padding: 10px;
}
.nav-link {
    font-size: 20px;
}

    @media (max-width:600px){
        #titulo {
        font-size: 40px;}
        
    }
    @media (max-width:600px){
        #subti {
        font-size: 20px;
    }
    }
    @media (max-width:480px){
        .jumbotron {
        max-width: 520px;
    }
    }
