  
* {
  box-sizing: border-box;
}

#promo {
    text-align:center;
    padding: 40px;
    background-image: url("negro.jpg");
   
    background-size: cover;
    
   
}

#promo .jumbotron {
    border-radius: 20px;
    background-color: rgb(255,255,255,0.5);
    margin:auto;

}

#subti {
    font-size: 25px;
}

.intro {
        text-align: center;
 }

#introduccion {
    max-width: 900px;
}

.navbar {
    padding: 16px;
}
.navbar-nav li{
    padding: 10px;
}
.nav-link {
    font-size: 20px;
}

    @media (max-width:600px){
        #titulo {
        font-size: 40px;}
        
    }
    @media (max-width:600px){
        #subti {
        font-size: 20px;
    }
    }
@media screen and (max-width: 100px){
#promo {
    max-width: 70px;
}
}
@media screen and (max-width: 100px){
#promo .jumbotron {
    max-width: 70px;
}
}
